.pro-banner {
  background-image: linear-gradient(
    249.02deg,
    #3466f6 10.81%,
    #3466f6 10.82%,
    #7c3aed 91.65%
  );
}

.Home {
  display: inline;
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #2563eb;
  --tw-gradient-to: #9333ea;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  /* -webkit-background-clip: text; */
  background-clip: text;
  color: transparent;
}

.dark-map {
  --tw-gradient-from: #1f2937;
  --tw-gradient-to: #000;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}
.Stylish {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 20;
  margin-top: -5rem;
  margin-right: -7rem;
  width: 60%;
  /* overflow-clip-margin: content-box; */
  overflow: clip;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
